<body>
    <div class="row align-items-center bg-white py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="/api" class="navbar-brand p-0 d-none d-lg-block">
                <h1 class="m-0 display-4 text-uppercase text-primary text-secondary font-weight-normal">
                    <span>Yangiliklar</span>
                </h1>
            </a>
        </div>
    </div>
   
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="/api" class="nav-item nav-link">Yangiliklar</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Turkumlar</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="/api/local" class="dropdown-item">O'zbekiston</a>
                            <a href="/api/global" class="dropdown-item">Jahon</a>
                            <a href="/api/sport" class="dropdown-item">Sport</a>
                            <a href="/api/texnologiya" class="dropdown-item">Texnologiya</a>
                        </div>
                    </div>
                    <a href="/api/latestnews" class="nav-item nav-link active">So'ngi yangiliklar</a>
                    <a href="/api/contact" class="nav-item nav-link">Aloqa</a>
                </div>

                {{#if token}}
                    <a href="/api/add">
                        <button class="addnews-button">Yangiliklar Qo'shish</button>
                    </a>
                {{/if}}

                {{#if token}}
                <a href="/api/logout">
                    <button class="login-button">Chiqish</button>
                </a>
                {{else}}
                <a href="/api/login">
                    <button class="login-button">Kirish</button>
                </a>
                {{/if}}

               {{#if token}}
                {{#if user}}
                <div class="profile-icon">
                    <a class="btn bg-warning rounded-circle ms-3" href="/api/profile/{{userId}}">
                        <small class="fa fa-user"> </small>
                    </a>
                </div>
                {{/if}}
                {{/if}}

            </div>
        </nav>
    </div>

    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title ">
                <h4 class="m-0 text-uppercase font-weight-bold" href="/api/latestnews " class="latest">So'ngi yangiliklar</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative owl-loaded owl-drag">
                {{#each item}}
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="width: 3572px;">
                        <div class="owl-item active" style="width: 294.667px; margin-right: 30px;">
                            <div class="position-relative overflow-hidden" style="height: 300px;">
                                <img class="img-fluid h-100" src={{image}} style="object-fit: cover;">
                                <div class="overlay">
                                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="/api/news/{{_id}}">{{title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each news}}
    <div class="col">
        <div class="card h-100 custom-card">
            <img src="{{image}}" class="card-img-top" alt="Card image">
            <div class="card-body">
                <h5 class="card-title"><a href="/api/news/{{_id}}" class="card-link">{{title}}</a></h5>
            </div>
            <div class="card-footer">
                <a class="username" style="margin-right: 50px;" href="/api/profile/{{author._id}}">{{author.username}}</a>
                <small class="text-body-secondary" style="margin-left: 50px;">{{createdAt}}</small>
            </div>
        </div>
    </div>
    {{/each}}
</div>


    <div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;"></div>
   
</body>